body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url("images/Sazabi.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#content {
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  margin: 20px;
  width: 500px;
}

header {
  background: #525151;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  background: #ff6b6b;
  padding: 6px 12px;
  border-radius: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

button {
  background: #4caf50;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #3e8e41;
}

footer {
  text-align: center;
  padding: 20px;
  color: #666;
}

#cartCount {
  background-color: red;
  color: white;
  border-radius: 100px;
  width: 20px;
  text-align: center;
  padding: 2px;
  margin-top: -10px;
  margin-left: 20px;
  position: absolute;
}

.auth-icon {
  width: 20px;
  margin-right: 10px;
}

#cartIcon {
  width: 30px;
}

#cart {
  margin-right: 100px;
}

#header {
  background: #525151;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#SKYNET {
  width: 120px;
}

#login-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#password-input {
  margin-top: 5px;
}

#password-input {
  margin-left: 10px;
}

#company-name {
  margin-left: 10px;
}

#login-button {
  margin-left: 15px;
  margin-top: -2px;
}

#product-image {
  width: 300px;
  height: auto;
  margin: 20px auto;
}

#product-video {
  margin: 10px 0 10px 0;
  width: 100%;
}
